@model IEnumerable<projeto_MVC.Dominio.Especialidade>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista <b>de especialidades</b></h2>

<a class="btn btn-primary pull-right" href="/Especialidade/Create/"><i class="fa fa-file-o" aria-hidden="true"></i> Criar Especialidade</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td class="table-options">
            <a class="btn btn-warning" href="/Especialidade/Edit/@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
            <a class="btn btn-danger" href="/Especialidade/Delete/@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</a>
        </td>
    </tr>
}

</table>
